* {
    box-sizing: border-box;
}
body{
     margin:0 0;
     padding:0 0 ;
}
.pin img{
    position:relative;
    padding:14px 0;
    padding-left:7%;
    white-space: nowrap;
}
.ride{
    position: absolute;
    top:15px ;
    left:70%;
    width:30%;
}

div .ul{
    list-style: none;
    width:100%;
    padding:10px 0;
    white-space: nowrap;
   
}
div ul li{
    display: inline-block;
    width:31%;
}
div ul li a{
    width:90%;
    text-decoration: none;
}
.ayo{
    color:white;
    width:100%;
    height:40px;
    background:linear-gradient(to right,blue 36%,orange 49% ,pink 80% ,red );
}
.ayo .might{
    margin:0 auto;
    width: 70%;
    padding:10px 0;
    white-space:nowrap;
}

.pain{
    position: relative;
    margin-top:10px;
    width: 100%;
    height: 1500px;
    background-color:#f3f3f1 ;
}
.pain> div{
    margin: 0 auto;
    width:70%;
    background-color: white;
    height: 1038px;
}
.pain div #pin{
    color: aliceblue;
    background:#e37a1b;
    padding: 10px;
}
.pain div ul{
    width:100%;
    padding:6px 6px;
    white-space: nowrap;
}
.pain div ul li{
    display: inline-block;
    padding:10px 0px;
    
    padding-right: 2px; 
}
.pain div ul .in{
    width:10%;
}
.pain div ul .jn{
    width: 9%;
}
.pain div ul .kn{
    width:6%;
}
.pain div ul .ln{
    width:12%;
    display:inline-block;
}
.pain div ul li a{
    color:white;
    width:100%;
    background-color:blue;
    border:5px solid blue;
    border-radius: 5px;
    font-size: small;
    padding: 5px 0px;
}
span img{
    width:16%;
}

.pic .hp{
    position: absolute;
    top:40% ;
    left:0px;
    width:13%;
    height:340px;
    padding-left:5px;
}
.pic .pp{
    position: absolute;
    top:40% ;
    right:0px;
    width:13%;
    height:340px;
    padding-right: 5px;
}

.now{
    padding: 10px;
    color:#e37a1b ;
    background-color: white;
    font-size: larger;
}
#dell{
    float:left;
    padding: 0 30px;
    width:300px;
    height:850px;
    background:linear-gradient(to bottom,rgba(255, 144, 29,1) 0%,rgba(216, 57, 129,1) 100%);
    color: white;
    border-radius:10px;
    margin: 10px;
}
#tell{
    position:absolute;
    left:39%;
    padding:0 10px;
    width:300px;
    height: 850px;
    background:linear-gradient(to bottom,rgba(255, 144, 29,1) 0%,rgba(216, 57, 129,1) 100%);
    color: white;
    border-radius: 10px;
    margin: 10px 0;
}
#pell{
    float:right;
    padding: 0 30px;
    width:300px;
    height:850px;
    background:linear-gradient(to bottom,rgba(255, 144, 29,1) 0%,rgba(216, 57, 129,1) 100%);
    color: white;
    border-radius: 10px;
    margin: 10px;
}
#net{
    position: absolute;
    top:1070px;
    left:15%;
    margin: 0 auto;
    width:70%;
    padding: 10px;
    color:black;
    border:1px solid red;

}
section{
    position:absolute;
    top:1160px;
    left: 15%;
    margin:0 auto;
    width: 70%;
    text-align: center;
    padding: 10px;
    border:1px solid grey;

}
footer{
    position: absolute;
    top:1450px;
    text-align: center;
    width: 100%;
    padding: 20px;

}
footer #src{
    float: left;

}
footer ul li{
    display: inline-block;
    padding: 10px;
}
footer ul li img{
    width:120%;
}
footer ul li a{
    color: blue;
    text-decoration: none;

}
footer #dst{
    float: right;
    padding-left: 40px;
}
footer .copy{
    position: absolute;
    top:103px;
    left:48%;
    color:blue;
    text-decoration: none;
}
#dell article{
    width: 100%;
    background-color:inherit;
    border: 2px solid white;
    border-radius: 6px;
    margin-bottom:25px;
}
#dell article aside{
    margin:4px;
    background-color:white;
    color: blue;
    padding-left:2px;
}
#dell article aside p{
    padding:15px;
}
#tell article{
    width: 100%;
    background-color:inherit;
    border: 2px solid white;
    border-radius: 6px;
    margin-bottom:25px;
}
#tell article aside{
    margin:4px;
    background-color:white;
    color: blue;
    padding-left:2px;
}
#tell article aside p{
    padding:15px;
}
#pell article{
    width: 100%;
    background-color:inherit;
    border: 2px solid white;
    border-radius: 6px;
    margin-bottom:25px;
}
#pell article aside{
    margin:4px;
    background-color:white;
    color: blue;
    padding-left:2px;
}
#pell article aside p{
    padding:1px;
}

header{
    white-space: nowrap;
    margin-bottom: 4px;
}
div article header p{
    font-size:smaller;
    padding-left: 1px;
}
div article header p span{
    font-size: larger;
    width: 350%;
}

address{
    position: absolute;
    display:none ;
    top:110px;
    left:200px;
    padding:4px;
    border-radius: 4px;
    width:130px;
    height: 210px;
    background-color: blue;
    border: 1px solid blue;
}
 address h5{
    display:block;
    color: white;
    font-style: normal;
}
#king:hover address{
    display:block;
}
#bin{
    position: relative;
    width: 100%;
    height:20px;
    background-color:white;
    border: 1px solid white;
    border-radius: 4px;
}
#bin #laden{
    position: absolute;
    height: 20px;
    background-color: #e37a1b;
    border: 1px solid white;
    border-radius: 4px;
}
.clap {
    color: #F30;
    border: 1px solid #F30;
    padding: 9px;
    font-size: 20px;
    border-radius: 50%;
}
.cam{
    color: white;
}